* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  background-image: linear-gradient(to right bottom, #f9f7f6, #aaa);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  margin: 0 auto;
  width: 60rem;
  display: grid;
  grid-template-rows: repeat(2, min-content); }

.header {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  align-items: center;
  justify-items: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 10;
  background-image: linear-gradient(to right bottom, #ff3366, #ba265d); }
  .header__h1 {
    padding: 2.5rem;
    color: #f9f7f6;
    font-size: 4rem;
    text-transform: uppercase; }
  .header__h3 {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 2rem;
    display: inline-block;
    margin: 0 2rem;
    padding: 3rem 0;
    transition: all 0.2s; }
    .header__h3:hover {
      transform: scaleY(1.1); }
  .header__link {
    color: #eb2f64;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    background-color: #f9f7f6;
    padding: 1rem 2rem;
    text-align: center; }

.msg-phonebook {
  font-size: 2rem;
  width: 33rem;
  text-align: center;
  margin: 2rem auto; }

.section,
.add-contact-form {
  background-image: linear-gradient(to right bottom, #f9f7f6, #aaa);
  padding-top: 3rem;
  padding-bottom: 3rem;
  transform: translateY(-5px);
  z-index: 1; }

.footer {
  padding: 3rem;
  font-size: 1.7rem;
  color: #f9f7f6;
  background-color: #333;
  text-align: center;
  letter-spacing: 0.1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transform: translateY(-10px);
  z-index: 9; }

.add-contact-form {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  align-items: center;
  justify-content: center; }

.input {
  width: 35rem;
  height: 3.5rem;
  padding: 0.5rem;
  margin: 1.7rem auto;
  font-size: 1.7rem;
  border: none;
  border-radius: 5px;
  transition: all 0.2s; }
  .input:active, .input:focus {
    transform: scaleX(1.05);
    outline: none;
    border: 1px solid #ff3366; }

.form-line {
  margin: 2rem 0;
  margin-bottom: 1rem;
  border: none;
  height: 2px;
  background: #eb2f64; }

.btn {
  font-size: 2rem;
  padding: 1rem 2rem;
  margin: 1.7rem auto;
  margin-left: 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #f9f7f6;
  background-image: linear-gradient(to right bottom, #ff3366, #ba265d);
  transition: all 0.2s; }
  .btn:hover {
    transform: scaleY(1.1); }
  .btn-small {
    font-size: 1.8rem;
    padding: 0.65rem 2rem; }

.section-container {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 3rem;
  align-content: center;
  justify-content: center; }

.input-search {
  margin-right: 2rem; }

.contact__list {
  list-style: none;
  padding-bottom: 2rem; }

.contact__item {
  padding: 0.2rem 2rem;
  background-image: linear-gradient(to right bottom, #f9f7f6, #aaa);
  margin-bottom: 0.2rem;
  border-radius: 5px;
  border: 1px solid #999; }

.contact__name {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem; }

.contact__number {
  font-size: 1.4rem;
  letter-spacing: 0.2rem; }

.pager {
  display: grid;
  height: 5rem;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center; }
  .pager__text {
    font-size: 1.7rem; }
  .pager__btn {
    margin: 0; }
